/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/03/2020, 20:12:07
    Author     : 16114290038
*/
body {font-family: Helvetica,Arial,sans-serif;
      font-size: 14px;
      color: #333;
      background-color: #fff;}
h1 {
  font-size: 20px;
}
